<rd-header>
  <rd-header-title title-text="Konzepte"></rd-header-title>
  <rd-header-content>Portainer Konzepte</rd-header-content>
</rd-header>

<information-panel title-text="Information">
  <span class="text-muted" style="font-size: 90%;">
    <p>
      Hier können Konzepte ausgewählt werden.
    </p>
  </span>
</information-panel>

<div class="row">
  <div class="col-sm-12">
    <konzepte-datatable
    title-text="Users" title-icon="fa-user"
    dataset="users" table-key="users"
    order-by="Username"
    authentication-method="AuthenticationMethod"
    remove-action="removeAction"
    ></Konzepte-datatable>
  </div>
</div>
