<rd-header>
  <rd-header-title title-text="Rezepte"></rd-header-title>
  <rd-header-content>Portainer Rezepte</rd-header-content>
</rd-header>

<information-panel title-text="Information">
  <span class="text-muted" style="font-size: 90%;">
    <p>
    Portainer Rezepte..</p>
  </span>
</information-panel>


<!-- endpoint-type -->
<div class="form-group" style="margin-bottom: 0">
  <div class="boxselector_wrapper">
    <div>
      <input type="radio" id="local_endpoint" ng-model="formValues.EndpointType" value="local">
      <label for="local_endpoint">
        <div class="boxselector_header">
          <i class="fab fa-docker" aria-hidden="true" style="margin-right: 2px;"></i>
          Webeditor
        </div>
        <p>Description for the web editor.</p>
      </label>
    </div>
    <div>
      <input type="radio" id="remote_endpoint" ng-model="formValues.EndpointType" value="remote">
      <label for="remote_endpoint">
        <div class="boxselector_header">
          <i class="fab fa-docker" aria-hidden="true" style="margin-right: 2px;"></i>
          Rezepte
        </div>
        <p>Description for rezepte.</p>
      </label>
    </div>
    <div>
      <input type="radio" id="agent_endpoint" ng-model="formValues.EndpointType" value="agent">
      <label for="agent_endpoint">
        <div class="boxselector_header">
          <i class="fa fa-bolt" aria-hidden="true" style="margin-right: 2px;"></i>
          Repository
        </div>
        <p>Description for the repository.</p>
      </label>
    </div>

  </div>
</div>
<!-- !endpoint-type  -->
<!-- local-endpoint -->

<div class="row">
  <div class="col-sm-12">
    <rezepte-datatable
    title-text="Users" title-icon="fa-user"
    dataset="users" table-key="users"
    order-by="Username"
    authentication-method="AuthenticationMethod"
    remove-action="removeAction"
    ></rezepte-datatable>
  </div>
</div>
